# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CLion and MacOS stuff
*.cbp
.idea/
*.DS_Store

# cmake stuff
CMakeFiles/
Testing/
cmake-build-debug/
cmake-build-release/
cmake_install.cmake

# temporary directory for testing stuff
tmp/
__pycache__/

# excluding random instances because they are monstrous - generate them using the instance generator!
instances/random/

plots/
plots_100/